<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="provider" owner="programmer" organization="dubbox"/>
    <dubbo:registry address="zookeeper://localhost:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <context:component-scan base-package="com.yykj.mall.service" annotation-config="true"/>
    <!--<dubbo:service interface="com.yykj.mall.TestService" ref="testService" protocol="dubbo" timeout="20000"/>
    <bean id="testService" class="com.yykj.mall.TestServiceImpl"/>-->
    <dubbo:annotation package="com.yykj.mall.service"/>
    <dubbo:service interface="com.yykj.mall.service.ICartService" ref="cartServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.ICategoryService" ref="categoryServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.ICollectionService" ref="collectionServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.IFileService" ref="fileServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.IFlashSaleService" ref="flashSaleServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.IOrderService" ref="orderServiceImpl" protocol="dubbo" timeout="20000"/>
    <!--<dubbo:service interface="com.yykj.mall.service.IProductService" ref="productServiceImpl" protocol="dubbo" timeout="20000"/>-->
    <dubbo:service interface="com.yykj.mall.service.IShippingService" ref="shippingServiceImpl" protocol="dubbo" timeout="20000"/>
    <dubbo:service interface="com.yykj.mall.service.IUserService" ref="userServiceImpl" protocol="dubbo" timeout="20000"/>
    <import resource="applicationContext-datasource.xml"/>
</beans>
